<h1><center>Exercício 01</center></h1>

<hgroup><h3>Tilápia Coco Bambu - R$ 60,49</h3></hgroup>
Filé de Tilápia grelhado sobre camadas de batata inglesa, coberto com delicioso molho agridoce de mostarda, cebola, alcaparras, tomate, estragão e salsinha. Molho servido a temperatura ambiente. Acompanha arroz branco.
<hgroup><h3>Peixe Pizzaiolo - R$ 80,99</h3></hgroup>
Filé de peixe em cubos, à dorê. Servidos sobre espaguete ao alho e óleo. Coberto com molho de tomate e molho branco, numa perfeita combinação. Gratinados com queijo muçarela e orégano.
<hgroup><h3>Peixe c/ Crosta de Pão- R$ 40,99</h3></hgroup>
Filet de peixe com crosta crocante de pão, acompanha talharim à alho e óleo, e legumes.
<hgroup><h3>Peixe à Dorê - R$ 90,99</h3></hgroup>
Filé de Tilápia grelhado sobre camadas de batata inglesa, coberto com delicioso molho agridoce de mostarda, cebola, alcaparras, tomate, estragão e salsinha. Molho servido a temperatura ambiente. Acompanha arroz branco.