@charset "UTF-8";

body {
    background-color: white;
    
}
h1#h1novo { 
    margin-top: -10px;
    margin-bottom: 30px;
}
 /* paragrafo e texto 1*/
p#paragrafo1 {
    color: blue;
    font-size: 18px;
    margin-bottom: 0px;

}
h3#texto1 {
    font-size: 15px;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 40px;
}


/* paragrafo e texto 2*/
     p#paragrafo2 {
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}
     h3#texto2 {
    font-size: 15px;
    margin-bottom: 0px;
    font-family: Arial;
    margin-top: 0px;
}

/* paragrafo e texto 3*/
p#paragrafo3 {
    color: red;
    font-size: 35px;
    margin-bottom: 0px;
    font-weight: 1000;
    
}
h3#texto3 {
    font-size: 15px;
    margin-top: 0px;
    font-size: 15px;
    font-size: Arial;
    margin-bottom: 40px;

}


/* paragrafo e texto 4*/
p#paragrafo4 {
    color: blue;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
h3#texto4 {
    font-size: 15px;
    margin-top: 0px;
    font-family:Arial;
    margin-bottom: 40px;
}


/* paragrafo e texto 5*/
p#paragrafo5 {
    color: blue;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0px;
}
h3#texto5 {
    margin-top: 0px;
    font-size: 25px;
    color: black;
    font-weight: bold;

}



